<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<div class="container">

  <h1>Stupid Coaching</h1>

  <div class="card">
    <p id="user_query">
      Q. <%= @user_query %>
    </p>
    <p id="answer">
      A. <%= @answer %>
    </p>
  </div>

  <div class="footer">
     <p id="link">
      <%= link_to "Ask another question", ask_path %>
    </p>
  </div>
</div>

