<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<h1>Stupid Coaching</h1>

<div class="form-div">
  <form id="form" action="/answer" action="get">
    <input type="text" name="query" >
    <input type="submit" value="Ask!">
  </form>
</div>

